* {
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    color:blue;
}
h2{
    color: blue;
}
p.warna {
        background-color: cornflowerblue;
}
p ~ ul {
    background:violet;
}
a[target] {
    background-color: yellow;
  }
  [title~=flowerswhitepink] {
    border: 25px solid pink
  }

[title~=floweryellow] {
    border: 25px solid yellow
  }

[title~=flowerpink] {
    border: 25px solid whitesmoke
  }

  [lang|=us] {
    background-color: rgb(14, 73, 41);
  }

div[class^="test"] {
    background: #dd9c0e;
  }

a:active {
    background-color: yellow;
  }

h3::after { 
    content: " - Remember this";
  }

h4::first-letter {
    font-size: 200%;
    color: #07949e;
  }

input:focus {
    background-color: yellow;
  }